<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
        body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
    </style>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=yTdOFtxX6c7mOnPNcCKCNn9XYrKz7XGQ"></script>
    <title>tudou</title>
</head>
<body>
    <div id="allmap"></div>
</body>
</html>
<script type="text/javascript">
    // 百度地图API功能
    //GPS坐标
  

    var points = [] ;
    points.push(new BMap.Point(116.3786889372559,39.90762965106183));

    // <% for(var i=1; i<items.length; i++) { %>
    // var xl = <%=items[i].lonDegree%> + <%=items[i].lonMin/1000/60%>;
    // var yl = <%=items[i].latDegree %> + <%=items[i].latMin/1000/60%>;
    // points.push(new BMap.Point(xl,yl));

    // <% } %>

    // var x = <%=items[0].lonDegree%> + <%=items[0].lonMin/1000/60%>;
    // var y = <%=items[0].latDegree %> + <%=items[0].latMin/1000/60%>;


     <% for(var i=1; i<items.length; i++) { %>
    var xl = <%=items[i].bdLon%> ;
    var yl = <%=items[i].bdLat%>;
    pointsArray.push(new BMap.Point(xl,yl));

    <% } %>

    var x = <%=items[0].bdLon%> ;
    var y = <%=items[0].bdLat%>;
    //alert(x,y);
    var ggPoint = new BMap.Point(x,y);

   
    //地图初始化
    var bm = new BMap.Map("allmap");
    bm.centerAndZoom(ggPoint, 15);
    bm.addControl(new BMap.NavigationControl());


    //坐标转换完之后的回调函数
    // translateCallback = function (data){
    //   if(data.status == 0) {
    //     for (var i = 0; i < data.points.length; i++) {
    //         bm.addOverlay(new BMap.Marker(data.points[i]));
    //         bm.setCenter(data.points[i]);
    //     }
    //   }



    // setTimeout(function(){
    //     var convertor = new BMap.Convertor();
    
    //      convertor.translate(points, 1, 5, translateCallback)
    // }, 2000);



    var options = {
            size: BMAP_POINT_SIZE_SMALL,
            shape: BMAP_POINT_SHAPE_STAR,
            color: '#d340c3'
        };
        var pointCollection = new BMap.PointCollection(points, options);  // 初始化PointCollection
        pointCollection.addEventListener('click', function (e) {
          alert('单击点的坐标为：' + e.point.lng + ',' + e.point.lat);  // 监听点击事件
        });
        bm.addOverlay(pointCollection);  // 添加Overlay
</script>
