<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
        body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
    </style>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=yTdOFtxX6c7mOnPNcCKCNn9XYrKz7XGQ"></script>
    <title>GPS转百度</title>
</head>
<body>
    <div id="allmap"></div>
</body>
</html>
<script type="text/javascript">
    // 百度地图API功能
    //GPS坐标


     var points = [new BMap.Point(<%=items[0].lonDegree%> + <%=items[0].lonMin/1000/60%>,<%=items[0].latDegree %> + <%=items[0].latMin/1000/60%>),
                  new BMap.Point(<%=items[0].lonDegree%> + <%=items[0].lonMin/1000/60%>,<%=items[0].latDegree %> + <%=items[0].latMin/1000/60%>),
                  new BMap.Point(<%=items[1].lonDegree%> + <%=items[1].lonMin/1000/60%>,<%=items[1].latDegree %> + <%=items[1].latMin/1000/60%>),
                  new BMap.Point(<%=items[2].lonDegree%> + <%=items[2].lonMin/1000/60%>,<%=items[2].latDegree %> + <%=items[2].latMin/1000/60%>),
                  new BMap.Point(<%=items[3].lonDegree%> + <%=items[3].lonMin/1000/60%>,<%=items[3].latDegree %> + <%=items[3].latMin/1000/60%>),
                  new BMap.Point(<%=items[4].lonDegree%> + <%=items[5].lonMin/1000/60%>,<%=items[5].latDegree %> + <%=items[5].latMin/1000/60%>),
                  new BMap.Point(<%=items[6].lonDegree%> + <%=items[6].lonMin/1000/60%>,<%=items[6].latDegree %> + <%=items[6].latMin/1000/60%>),
                  new BMap.Point(<%=items[7].lonDegree%> + <%=items[7].lonMin/1000/60%>,<%=items[7].latDegree %> + <%=items[7].latMin/1000/60%>),
                  new BMap.Point(<%=items[8].lonDegree%> + <%=items[8].lonMin/1000/60%>,<%=items[8].latDegree %> + <%=items[8].latMin/1000/60%>),
                  new BMap.Point(<%=items[9].lonDegree%> + <%=items[9].lonMin/1000/60%>,<%=items[9].latDegree %> + <%=items[9].latMin/1000/60%>))
    ];

    var x = <%=items[0].lonDegree%> + <%=items[0].lonMin/1000/60%>;
    var y = <%=items[0].latDegree %> + <%=items[0].latMin/1000/60%>;
   // alert(x,y);
    var ggPoint = new BMap.Point(x,y);

    //地图初始化
    var bm = new BMap.Map("allmap");
    bm.centerAndZoom(ggPoint, 15);
    bm.addControl(new BMap.NavigationControl());


    //坐标转换完之后的回调函数
    translateCallback = function (data){
      if(data.status === 0) {
        for (var i = 0; i < data.points.length; i++) {
            bm.addOverlay(new BMap.Marker(data.points[i]));
            bm.setCenter(data.points[i]);
        }
      }
    }

    setTimeout(function(){
        var convertor = new BMap.Convertor();
        var pointArr = [];
        pointArr.push(ggPoint);
         convertor.translate(points, 1, 5, translateCallback)
    }, 1000);
</script>
